.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form input {
    width: 100%;
    padding: 0.2em 0.8em;
    font-size: 1.2em;
}

.form button {
    padding: 0.2em 1em;
    font-size: 1.2em;
}

.error {
    display: none;
    grid-area: error;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border: 0.1rem solid #f00;
    background-color: #fcc;
}
.error.show {
    display: block;
}